.searchContainer {
  margin: 0;
  background-image: url(../../assets/background-image.jpg);
  background-size: cover;
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchContainer-form {
  width: 60%;
  display: flex;
  justify-content: center;
}
.inputField {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-family: "poppins";
}

.searchContainer-btn {
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "poppins";
  font-size: 0.9rem;
  color: #42464a;
  cursor: pointer;
}

.searchContainer-btn:hover {
  background: black;
  color: #fff;
}

@media all and (max-width: 600px) {
  .searchContainer-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputField {
    padding: 1rem;
    width: 150%;
    border: none;
    outline: none;
    font-family: "poppins";
    border-radius: 0.5rem;
  }

  .searchContainer-btn {
    width: 50%;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-family: "poppins";
    font-size: 0.9rem;
    color: #42464a;
    cursor: pointer;
    border-radius: 0.5rem;
  }
}
